{% extends 'base.html' %}

{% block header %}
    <h1>Edit Post</h1>
{% endblock %}

{% block content %}
<h1 class="mt-5">Edit your post</h1>

<form action="{{ url_for('update_post', post_id=post.id) }}" method="POST">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{ post.title }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="category">Category:</label>
        <input list="categories" name="category" id="category" value="{{ post.category.name }}" class="form-control">
        <datalist id="categories">
            <option value="Java">
            <option value="JavaScript">
            <option value="Python">
            <option value="Ruby">
            <option value="Rust">
        </datalist>
    </div>
    <div class="form-group">
        <label for="body">Body:</label>
        <textarea name="body" id="body" class="form-control" rows="10">{{ post.body }}</textarea>
    </div>
    <button type="submit" class="btn btn-success">Update Post</button>
</form>
{% endblock %}
